/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

.container {
  display: flex;
  flex-wrap: wrap;
  width: 100vw; }

.hero {
  height: 500px;
  width: 100%;
  background-image: url("../img/hero-moose.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  color: #fff;
  padding: 2rem .5rem; }

.raft, .custom {
  height: 420px;
  width: 100%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  color: #fff;
  padding: 3rem; }

.raft {
  background-image: url("../img/raft.jpg"); }

.camp, .backpack, .canoe, .photo {
  height: 420px;
  width: 50%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  color: #fff;
  padding: 30px; }

.camp {
  background-image: url("../img/camp.jpg"); }

.canoe {
  background-image: url("../img/canoe.jpg"); }

.backpack {
  background-image: url("../img/backpack.jpg"); }

.photo {
  background-image: url("../img/photo.jpg"); }

.custom {
  background-image: url("../img/basecamp.jpg"); }

.footer {
  background-color: #464646;
  height: 420px;
  color: #a9a9a0;
  width: 100%; }

.orange-bar {
  height: 5px;
  width: 42px;
  background-color: #dc7725;
  position: relative;
  top: 280px; }

.corner-text {
  position: relative;
  top: 300px;
  font-family: "Fjalla One", "Open Sans", sans-serif;
  font-size: 1.35rem; }

.icon-bg {
  background-image: url(../img/icon-background.png);
  height: 90px;
  width: 90px;
  border-radius: 100%;
  margin: 80px auto; }

#raft-icon img,
#basecamp-icon img,
#canoe-icon img,
#backpacking-icon img,
#photo-icon img,
#custom-icon img {
  height: 45px;
  width: 45px;
  position: relative;
  top: 19px;
  left: 22px; }

#canoe-icon img {
  height: 55px;
  width: 55px;
  top: 15px;
  left: 18px; }

#custom-icon img {
  top: 21px; }

* {
  box-sizing: border-box; }

h1 {
  font-size: 2.75em;
  font-weight: bold; }

.hero-overlay {
  position: relative;
  top: 30px;
  left: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  height: 350px;
  margin: 0 auto; }

.title-text {
  font-family: "Cardo", "Crimson Text", serif;
  position: relative;
  top: -10px; }

.title-subtext {
  font-family: "Fjalla One", "Open Sans", sans-serif;
  font-size: .9em;
  letter-spacing: 3px; }

#hero-bar {
  width: 300px;
  height: 5px;
  background-color: #fff; }

#logo {
  position: relative;
  top: 15px;
  left: 30px;
  font-size: 1.15em; }

#menu {
  float: right;
  position: relative;
  top: -20px;
  left: -10px; }

#play-circle {
  border-radius: 100%;
  background-color: rgba(255, 255, 255, 0.5);
  height: 90px;
  width: 90px;
  position: relative;
  top: 20px; }

#play-icon img {
  height: 40px;
  width: 35px;
  position: relative;
  top: 25px;
  left: 30px; }

#copyright {
  color: #dc7725; }

/*# sourceMappingURL=app.css.map */
