
.orange-bar {
  height: 5px;
  width: 42px;
  background-color: $orange;
  position: relative;
  top: 280px;
}

.corner-text {
  position: relative;
  top: 300px;
  font-family: $font-stack-secondary;
  font-size: 1.35rem;
}

h1 {
  font-size: 2.75em;
  font-weight: bold;
}

.title-text {
  font-family: $font-stack-primary;
  float: left;
  font-size: 1.25rem;
}

.title-subtext {
  font-family: $font-stack-secondary;
  font-size: .9em;
  letter-spacing: 3px;
}

#hero-bar {
  width: 300px;
  height: 5px;
  background-color: $white;
}

#awild:hover {
  color: $orange;
}

.icon-bg {
  background-image: url(../img/icon-background.png);
  height: 90px;
  width: 90px;
  border-radius: 100%;
  margin: 80px auto;
}

#raft-icon img,
#basecamp-icon img,
#canoe-icon img,
#backpacking-icon img,
#photo-icon img,
#custom-icon img {
  height: 45px;
  width: 45px;
  position: relative;
  top: 19px;
  left: 22px;
}

#canoe-icon img {
  height: 55px;
  width: 55px;
  top: 15px;
  left: 18px;
}

#raft-icon img {
  top: 22px;
  left: 23px;
}

#custom-icon img {
  top: 22px;
  left: 23px;
}

#small-logo {
  float: left;
  font-size: 1.15em;
  position: relative;
  top: -18px;
}

#menu {
  float: right;
  position: relative;
}

#play-circle {
  border-radius: 100%;
  background-color: rgba(255, 255, 255, 0.5);
  height: 90px;
  width: 90px;
  position: relative;
  top: 20px;
}

#play-icon img {
  height: 40px;
  width: 35px;
  position: relative;
  top: 25px;
  left: 30px;
}
