
.container {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  overflow: hidden;
}



.hero {
  height: 500px;
  width: 100%;
  background-image: url("../img/hero-moose.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  color: $white;
  padding: 2.5rem;
}

.hero-overlay {
  position: relative;
  top: 50px;
  right: 70px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  height: 330px;
  margin: 0 auto;
}

.hero-text {
  font-size: 5rem;
}


.raft, .custom {
  height: 420px;
  width: 100%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  color: $white;
  padding: 3rem;
}

.raft {
  background-image: url("../img/raft.jpg");
}

.camp, .backpack, .canoe, .photo {
  height: 420px;
  width: 50%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  color: $white;
  padding: 30px;
}

.camp {
  background-image: url("../img/camp.jpg");
}

.canoe {
  background-image: url("../img/canoe.jpg");
}

.backpack {
  background-image: url("../img/backpack.jpg");
}

.photo {
  background-image: url("../img/photo.jpg");
}

.custom {
  background-image: url("../img/basecamp.jpg");
}

.footer-top {
  background-image: url("../img/footer-background.jpg");;
  background-repeat: repeat;
  height: 230px;
  color: $lightgrey;
  width: 100%;
  min-width: 750px;
  padding: 2.5rem;
  border-bottom: 2px solid #222;
}

.footer-bottom {
  background-color: $darkestgrey;
  height: 500px;
  color: $lightgrey;
  width: 100%;
  padding: 2.5rem;
}

.design {
  color: $orange;
  font-size: 1rem;
  font-family: 'Open Sans', sans-serif;
}

.elephant {
  color: $white;
  font-family: 'Open Sans', sans-serif;
}

#col-1, #col-2 {
  width: 40%;
  float: left;
  margin: 0 5%;
}

#copyright {
  display: block;
  position: relative;
  left: 30px;
  top: 130px;
}

.footer-bottom li {
  padding: 1.25rem 1.25rem 1.25rem 0rem;
  border-bottom: 1px solid $darkgrey;
}
