@import "_reset.scss";
@import "_variables.scss";
@import "_containers.scss";
@import "_components.scss";

h1 {
  font-size: 5em;
}

.hero-overlay {
  position: relative;
  top: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  height: 350px;
}

.title-text {
  font-family: $font-stack-primary;
}

.title-subtext {
  font-family: $font-stack-secondary;
  font-size: 1.5em;
  letter-spacing: 2px;
}

#hero-bar {
  width: 300px;
  height: 5px;
  background-color: $white;
}

#logo {
  position: relative;
  top: 10px;
  left: 30px;
  font-size: 1.5em;
}

#menu {
  float: right;
  position: relative;
  top: -20px;
  left: -10px;
}

#play-circle {
  border-radius: 100%;
  background-color: rgba(255, 255, 255, 0.5);
  height: 90px;
  width: 90px;
  position: relative;
  top: 20px;
}

#play-icon img {
  height: 40px;
  width: 35px;
  position: relative;
  top: 25px;
  left: 30px;
}

#copyright {
  color: $orange;
}
